<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="index :: head">
</head>
<body>
<div class="container">
    <div th:include="index :: menu"></div>

    <h1><span th:text="${boasVindas}"></span></h1>

    <form>
        <div class="alert alert-danger"
             th:if="${not #strings.isEmpty(erros)}">
            <div th:each="erro : ${erros}">
                <span th:text="${erro.getDefaultMessage()}"></span>
            </div>
        </div>

        <div class="mb-3">
            <input name="id" th:value="${time.id}" type="text" hidden="true">

            <label for="nomeId" class="form-label">Nome</label>
            <input name="nome" th:value="${time.nome}" type="text" class="form-control" id="nomeId">

            <label for="anoId" class="form-label">Ano Fundação</label>
            <input name="anoFundacao" th:value="${time.anoFundacao}" type="text" class="form-control" id="anoId">

            <label for="cidadeId" class="form-label">Cidade</label>
            <select id="cidadeId" th:field="${time.cidade.id}" class="form-control">
                <option value="" selected="selected">Selecione...</option>
                <option th:each="cidade: ${cidades}" th:value="${cidade.id}"
                        th:text="${cidade.nome + ' - ' + cidade.uf}"></option>
            </select>

            <label for="tituloId" class="form-label">Titulos</label>
            <input name="titulo" th:value="${time.titulo}" type="text" class="form-control" id="tituloId">
        </div>

        <button th:formaction="@{/time/salvar}" formmethod="post" type="submit" class="btn btn-dark">Salvar</button>

    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</body>
</html>